{% extends 'base.html.twig' %}

{% block content %}
    <center>
    <h1>Ajouter Assisstance</h1>
    </center>
    {% form_theme Assisstance_form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form(Assisstance_form) }}

    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>

    {% endfor %}

{% endblock %}

