{% extends 'base.html.twig' %}

{% block content %}
    <center>
        <h1>Ajouter Publcite</h1>
    </center>
    {% form_theme Pub_form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form(Pub_form) }}

    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>

    {% endfor %}

{% endblock %}