{% extends 'base.html.twig' %}

{% block content %}
    <center>
        <h1>Modifier Publicitité</h1>
    </center>
    {% form_theme form_modifier 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form(form_modifier) }}

{% endblock %}